a.out
out
build
.idea
.~lock*
src-gen
*.o
*.s
__pycache__
*.egg-info
venv
.pytest_cache
.coverage
perf.data
perf.data.old
trace*.dat
.trace*
*.bak
html
.vscode
htmlcov
coverage
coverage.xml
test_results.xml

